body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: var(--Lightgray);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
